* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  margin: 70px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: gray;
}

nav a:hover {
  color: hsl(35, 77%, 62%);
}

main {
  display: flex;
  gap: 40px;
  margin: 0 50px;
}

.hero {
  width: 70%;
}

.hero img {
  max-width: 100%;
}

.main-theme h1 {
  word-wrap: normal;
  max-width: 400px;
  font-size: 60px;
  line-height: 95%;
}

.main-theme {
  max-width: 100%;
  padding-top: 30px;
  display: flex;
  gap: 40px;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.presentation p {
  font-size: 15px;
  color: gray;
  line-height: 28px;
}

.presentation button {
  all: unset;

  width: 220px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;

  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 12px;
  color: white;

  cursor: pointer;
}

.presentation a {
  text-decoration: none;
}

.presentation button:hover {
  background-color: hsl(5, 85%, 63%);
}

aside {
  background-color: black;
  width: 30%;
  padding: 25px 30px;
}

aside h2 {
  margin-bottom: 28px;

  letter-spacing: 1px;
  font-weight: bold;
  font-size: 45px;
  color: rgb(218, 165, 32, 0.95);
}

aside a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

aside a:hover {
  color: rgb(218, 165, 32, 0.95);
}

aside p {
  margin-top: 18px;
  font-size: 18px;
  color: rgb(255, 255, 255, 0.8);
}

.aside-topics {
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(128, 128, 128, 0.8);
  margin-bottom: 30px;
}

.topic-infos {
  margin: 70px 50px 100px 50px;
  display: flex;
  gap: 40px;
}

.new-infos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.presentation-topic-infos {
  display: flex;
  gap: 15px;
}

.presentation-topic-infos img {
  height: 120px;
}

.presentation-topic-infos h3 {
  font-size: 25px;
  color: rgba(55, 55, 54, 0.248);
}

.presentation-topic-infos a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.presentation-topic-infos a:hover {
  color: hsl(35, 77%, 62%);
}

.new-infos p {
  line-height: 25px;
  color: gray;
}
